.episodes {
  width: 412px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
  h1 {
    padding: 4px 16px;
    color: $red;
    margin-bottom: 0
  }
  h4 {
    padding: 16px 16px 4px 16px;
    color: $normal-gray;
    margin-bottom: 0
  }
}

.episode {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-gray
}

.episode:last-child {
  border-bottom: none;
}

.reddit-link {
  margin-left: 8px;
  color: $normal-gray;
  opacity: 0.6;
  font-size: 22px;
  &:hover {
    color: $normal-gray;
    opacity: 1;
  }
}
