<div class="container mt-4">
  <div class="row justify-content-center">
    <h1>MOTD Times</h1>
  </div>
  <div class="row justify-content-center">
    <div class="form-group">
      <%= select_tag :time_zone, options_for_select(ActiveSupport::TimeZone.all.sort, @timezone), class: 'form-control', id: 'time_zones' %>
    </div>
  </div>
  <div class="row justify-content-center">
    <h4>Upcoming</h4>
  </div>
  <div class="row justify-content-center">
    <ol>
      <% @future.each do |episode| %>
        <li><%= episode.time.strftime('%A, %b %e, %l:%M %p') %></li>
      <% end %>
    </ol>
  </div>
  <div class="row justify-content-center">
    <h4>Past</h4>
  </div>
  <div class="row justify-content-center">
    <ol>
      <% @past.each do |episode| %>
        <li><%= episode.time.strftime('%A, %b %d') %></li>
      <% end %>
    </ol>
  </div>
</div>