<div class="footer">
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/dougberkley" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/dmbf29" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    ⚽️ Side project fun.
  </div>
</div>